.codelab {
    position: relative;
}

.header-wrapper {
    color: #464F5C;
    height: 95px;
    overflow: hidden;
    border-bottom: 1px solid #ccc;
    background: url("../../images/codelab-header-bg.png") repeat-x scroll 0 5px #f3f3f3;
}

.header-top {
    border-top: 5px solid #464F5C;
}

.header {
    height: 90px;
    text-align: left;
}