<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Leave application</title>
</head>

<body>
	<form>
		{% for data in user_data %}
		Name: <input type="text", name="name" value={{data.name}}>
		Reporter: <input type="text", name="reporter" value="{{data.reporting_senior}}">
		{% endfor %}
	</form>

</body>



<!-- <!DOCTYPE html>
+<html>
+<head>
+<meta charset="UTF-8">
+<title>Leave application</title>
+</head>
+
+<body>
+<h1>User details</h1>
+<ul>
+    {% for data in user_data %}
+    <li>{{ data }}</li>
+    {% endfor %}
+</ul>
+</body>
+
+</html> -->


