<!DOCTYPE html>
<html>
	<meta charset="utf-8">
	<title>Login</title>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js">
		function getusername(){
			var username = getValue("username");
			document.write(username);
			return username
		}
	</script>
	<style>
	header{
	top: 100%;
	font-family: arial, sans-serif;
	font-size: 20px;
	color: maroon;
	}
	ul{
    position:all;
	font-family: arial, sans-serif;
	color: maroon;
	}
	</style>
	</head>
	<body>
		<header><center>Leave Application</center></header><br>
		<div style="position: absolute; top: 180px; left: 350px;">
			<header><center>Login</center></header><br>
			<form action="approval.html" method="get" >
		      	<input type="text" name=username placeholder="username"><br><br>
		      	<input type="Password" placeholder="Password"><br><br>
		      	<center><input type="submit" name="Login" value="Login"></center>
		    </form>
     	</div>	
	</body>
</html>	